# Finding a Gas Station

### Introduction/Business problems

The City of New York is one of the major city in United States of America and the city is the center of the New York metropolitan area, the largest metropolitan area in the world by urban landmass. New York City consists of five boroughs, each of which is a separate county of the State of New York. The five boroughs – Brooklyn, Queens, Manhattan, The Bronx, and Staten Island. The city has over 120 colleges and universities, including Columbia University, New York University, and Rockefeller University, ranked among the top universities in the world. Anchored by Wall Street in the Financial District of Lower Manhattan, New York has been called both the most economically powerful city and world's leading financial center, and is home to the world's two largest stock exchanges by total market capitalization, the New York Stock Exchange and NASDAQ. New York City is home to more than 3.2 million residents born outside the United States, the largest foreign-born population of any city in the world. New York City is a global hub of business and commerce, as a center for banking and finance, retailing, world trade, transportation, tourism, real estate, new media, traditional media, advertising, legal services, accountancy, insurance, theater, fashion, and the arts in the United States; while Silicon Alley, metonymous for New York's broad-spectrum high technology sphere, continues to expand. Many Fortune 500 corporations are headquartered in New York City, as are a large number of multinational corporations. One out of ten private sector jobs in the city is with a foreign company.

People work here day and night and this city is known for its night life. Most of the people uses vehicle to move around the city.

So as part of this Project we will be finding a gas station in all parts of new york city.

### Data collection

For this project we need following data:

1. Newyork city data that has list of Boroughs, Neighborhoods along with their latitude and longitude.
   - Data Source: https://cocl.us/new_york_dataset
   - Description: This data set contains the information about the variuos parts of New York city.
   
2. Gas stations in each Neighborhood of New York city.
   - Data Source: https://foursquare.com/
   - Description: By using this API we will get the venues in each neighborhood, and filter venues to get only gas stations.
   
3. Geospace data.
   - Data Source: https://data.cityofnewyork.us/City-Government/Borough-Boundaries/tqmj-j8zm
   - Description: By using this link it will be helpful for us to get Borugh boundaries to visualise chloropeth map.

### Download and explore the data

ValueError: No tables found